<!-- Include the header partial -->
<% include ../_header %>
<link rel='stylesheet' href='/stylesheets/colorSet<%= colorSet %>.css'/>


</head>
<body>
<script type="text/javascript">var dataModel = <%- posts %>; </script>

<div class="globalnav"> <a href="/about/">NEU</a><a class="prevbtn" href="/prev/"></a><a class="nextbtn" href="/next/"></a></div>

<!-- content -->

<div class="main_content">
    
    <h1>Viz1</h1>

</div>
<!-- Include the footer partial -->
<% include ../_footer %>
