<!-- Include the header partial -->
<% include ../_header %>
<link rel='stylesheet' href='/stylesheets/colorSet<%= colorSet %>.css'/>
</head>
<body>

<div class="globalnav"><a href="/">X</a></div>

<div class="close">
</div>

<div class="main_content">
  		<div class="post_link">
	  		<h1><a href="'/posts/' + post.id">NEW YEAR</a></h1>
        <div class="icon arrow"></div>
        <h5>new</h5>
        <h1><a href="">resolution</a></h1>
        <h1><a href="">something new</a></h1>

        <div class="icon arrow"></div>
        <h1><a href="">everyday</a></h1>
	  		<h5>created by</h5>
        <h1><a href="">welovenoise</a></h1>

	  		<p> Special thanks to Tim for his unrivaled skill... </p>
  		</div>
</div>

<div class="social">
  <div class="twitter"><a href="'/posts/' + post.id">TWEET</a></div>
</div>

<!-- Include the footer partial -->
<% include ../_footer %>
