.backgroundDark {
	background-color: #937BF3;
}
.backgroundLight {
	background-color: #fff;
}

body {
	background: #CFF9DE;
	color: #937BF3;
}

a, a:hover, a:visited, a:active {
	color: #937BF3;
}

.post h5{
	color: #937BF3;
}

.post .content p a {
	color: #937BF3
}

.post_link h5 {
	color: #937BF3;
}
